.click
{
	background-color: grey;
	color: black;

    background-color: #a1a1a1;
    color: black;
    border: 2px solid gray;
    border-radius: 12px;
    margin:5px;
    padding:8px;
    box-shadow: 2px 3px #888888;

}
.click:hover 
{
	color:white;
  box-shadow: inset 0 0 0 3px #7f7f7f;
}

.options
{
	width: 90%;
	border: 0px solid gray;
}

.options:hover
{
	color:#006641;
	text-shadow: 2px 2px 5px gray;
	 box-shadow: inset 0 0 0 3px white;

}
button
{
	margin:5px;
}

#opt1, #opt2, #opt3,
{
	background-color: white;
	color: black;
	margin:5px;
    background-color: #a1a1a1;
    color: black;
    border: 2px solid gray;

    margin:5px;

}
body 
{ 
font-family: arial, times-new-roman;
font-size: 20px;
  background: url("../images/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
	height:100%;
}

h1
{
	font-family: 'Six Caps', sans-serif;
	
	text-shadow: 2px 2px 8px grey;
	letter-spacing: 5px;
	font-size: 50px;
	text-align: center;
	padding-bottom: 10px
	border: 2px solid #000000;
}

h2
{
	font-size: 25px;
	font-family: 'Alegreya Sans', sans-serif;
}

h3
{
	letter-spacing: -1px;
	text-shadow: 2px 2px 8px grey;
	color:#3664ae;
	font-weight: bold;
	font-family: 'Julius Sans One', sans-serif;
	text-transform: uppercase;
}

#time
{
	font-weight: bold;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 40px;
	color:#735c5b;
}

#solution
{
	margin:15px;
}

.container
{
	margin-top:10%;

	background-color: white;
	padding:20px;
	padding-bottom: 2px;
	opacity: 0.9;
    filter: alpha(opacity=50);
    text-align: center;
    border-width: 7px;
    border-style: double;
    border-color:#0e1f3b;
    border-radius: 25px;
 
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

#time
{
	margin-top:0px;
}

hr
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 2px;

	width:90%;
}

#start
{
	font-weight: bold;
	font-family: arial, sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	margin:10px;
}

#answer
{
	margin:10px;
	color:#74061d;
	font-weight: bold;
	text-shadow: 2px 2px 8px grey;
}

#validate
{
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 1.6;
	text-shadow: 2px 2px 8px grey;

}



#copyright
{

	margin-top:0px;
	
	padding-top: 0px;
	color: #382d3b;
    text-shadow: 2px 2px 4px #627588;
	font-size: 12px;
	text-align: right;

}
